//sidebar

.sidebar{
    flex:0 0 15em;
    background-color: $light-primary;
    padding: 1rem 2rem 0 2rem;
    @include transitions(.4s, ease-out);
    &:hover{
        flex:0 0 14.5rem;
    }
   
    h6{
      text-align: center;
    }
    .user{
        display: flex;
        flex-direction: column;
        align-items: center;
        .avatar{
            display: flex;
            justify-content: center;
            img{
                max-width: 30%;
                display: flex;
                
             
            }
        }
        .persona{
            margin-top: 1rem;
          h1{
              font-size: 1.2em;
          }
        }
        
    }
    .menu{
        li{
            padding: 0.5rem;
        }
        a{
            padding: 0.5rem;
           
            @include transitions(.3s,ease-out);
            &:hover{
                padding-left: .9em;
                // background-color: azure;
            }
        }

    }
}