@import './variables';
@import './mixins/mixins';

@import './modules/sidebar';

@import './modules/header';

*,
*:after,
*:before {
  @include box-sizing(inherit);
}

html{
    @include box-sizing(border-box);
    height: 100%;
}


body{
    height: 100vh;
   
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    color: $primary-text;
}
i{
margin: 0 1rem;
font-size: 1.2rem;
}

img{
    max-width: 100%;
}

.app{
display: flex;
flex-direction: column;
min-height: 100vh;
}

//main content


.main-content{
    display: flex;
    flex: 1;
}

.content{
  flex:1;
  padding: 1rem;  
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.input-task {
    transition: all 0.8s ease 0s;
}

.line_spacer {
    margin-top: 30px;
}

.spacing-content {
    margin-top: 60px;
}

li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}










.sidebar {
    height: 100vh;
}

.point {
    cursor: pointer;
}

.mat-icon {
    color: rgb(70, 109, 161);
}